body{
    background-color: #555e61;
}

.navbar {
  background-color: #333;
}
.white {
  color: white;
}

.ored{
  color: #ff5f56;
}

.content {
  margin-top: 20px;
}


.btn-custom {
  background-color: #ff5f56;
  color: white;
  border: none;
}

.btn-custom:hover {
  background-color: #e05650;
}

.btn-novel, .btn-manhua {
  margin-top: 10px;
  font-size: 1.2rem;
}


.mitr-semibold {
    font-family: "Mitr", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

.font1 {
    font-family: "Mirza", serif;
    font-weight: 400;
    font-style: normal;
  }
  

.mitr-regular {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}


footer {
    text-align: left;
    padding: 3px;
    background-color: #333;
    color: rgb(255, 255, 255);
  }
