body{
    background-color: #555e61;
}

.navbar {
  background-color: #333;
}
.white {
  color: white;
}

.ored{
  color: #ff5f56;
}

.content {
  margin-top: 20px;
}


.btn-custom {
  background-color: #ff5f56;
  color: white;
  border: none;
}

.btn-custom:hover {
  background-color: #e05650;
}

.btn-novel, .btn-manhua {
  margin-top: 10px;
  font-size: 1.2rem;
}

.fontsize {
font-size: 1.1rem;
}

.fontsize2 {
  font-size: 1.3rem;
  }

.fontsize3 {
    font-size: 1.5rem;
    }

.mitr-semibold {
    font-family: "Mitr", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

.sarabun-regular {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.font1 {
    font-family: "Mirza", serif;
    font-weight: 400;
    font-style: normal;
  }

  .black {
    color: black;
  }
  
.link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }

.link2 {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }

.mitr-regular {
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.book-section {
  margin-bottom: 40px;
}

.book-section img {
  width: 100%;
  height: auto;
}

.book-title {
  font-size: 2rem;
  font-weight: bold;
}

.accordion {
  --bs-accordion-btn-bg: #3e3e3e;
  --bs-accordion-active-bg: #fe4545;
  --bs-accordion-active-color: white;
  --bs-accordion-btn-focus-box-shadow: none;
}


footer {
    text-align: left;
    padding: 3px;
    background-color: #333;
    color: rgb(255, 255, 255);
  }
